<p style="color: green"><%= notice %></p>

<div style="display:flex;">
<div style="flex-grow: 3;"><%= render @user%></div>
</div>



<div>
  <%= link_to "Edit my profile", edit_user_path(@user) %>
  <div><%= button_to "Destroy this user", @user, method: :delete, :class => "button" %></div>
</div>